name = "IntervalArithmetic"
uuid = "d1acc4aa-44c8-5952-acd4-ba5d80a2a253"
repo = "https://github.com/JuliaIntervals/IntervalArithmetic.jl.git"
version = "0.22.3"

[deps]
CRlibm = "96374032-68de-5a5b-8d9e-752f78720389"
RoundingEmulator = "5eaf0fd0-dfba-4ccb-bf02-d820a40db705"

[weakdeps]
DiffRules = "b552c78f-8df3-52c6-915a-8e097449b14b"

[extensions]
IntervalArithmeticDiffRulesExt = "DiffRules"

[compat]
CRlibm = "1"
DiffRules = "1"
RoundingEmulator = "0.2"
julia = "1.9"
