name = "IntervalArithmetic"
uuid = "d1acc4aa-44c8-5952-acd4-ba5d80a2a253"
repo = "https://github.com/JuliaIntervals/IntervalArithmetic.jl.git"
version = "1.0.2"

[deps]
CRlibm = "96374032-68de-5a5b-8d9e-752f78720389"
MacroTools = "1914dd2f-81c6-5fcd-8719-6d5c9610ff09"
OpenBLASConsistentFPCSR_jll = "6cdc7f73-28fd-5e50-80fb-958a8875b1af"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
RoundingEmulator = "5eaf0fd0-dfba-4ccb-bf02-d820a40db705"

[weakdeps]
Arblib = "fb37089c-8514-4489-9461-98f9c8763369"
DiffRules = "b552c78f-8df3-52c6-915a-8e097449b14b"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
IntervalSets = "8197267c-284f-5f27-9208-e0e47529a953"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
RecipesBase = "3cdcf5f2-1ef4-517c-9805-6587b60abb01"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"

[extensions]
IntervalArithmeticArblibExt = "Arblib"
IntervalArithmeticDiffRulesExt = "DiffRules"
IntervalArithmeticForwardDiffExt = "ForwardDiff"
IntervalArithmeticIntervalSetsExt = "IntervalSets"
IntervalArithmeticLinearAlgebraExt = "LinearAlgebra"
IntervalArithmeticRecipesBaseExt = "RecipesBase"
IntervalArithmeticSparseArraysExt = "SparseArrays"

[compat]
Arblib = "1.3.0"
CRlibm = "1.0.2"
DiffRules = "1"
ForwardDiff = "1"
IntervalSets = "0.7"
LinearAlgebra = "1.10"
MacroTools = "0.5"
OpenBLASConsistentFPCSR_jll = "0.3.29"
Random = "1.10"
Printf = "1.10"
RecipesBase = "1"
RoundingEmulator = "0.2"
SparseArrays = "1.10"
julia = "1.10"
